.dwm {
	pointer-events:none;
	transition:-webkit-filter 0.8s cubic-bezier(0,1,0,1)
}

.dwm>div {
	pointer-events:all
}

.wallpaper {
	min-height:100%;
	height:100%;
	padding:0;
	z-index:-2;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin-top:0%;
	margin-left:0%;
	animation:fadein 0.8s cubic-bezier(0,1,0,1);
	background-image: url("../../../../Resources/com.dangeredwolf.webshell.resources.wallpapers/wallpaper2.jpg");
	background-size:cover;
	background-repeat:no-repeat;
	background-position:50% 50%;
	transition:all 0.8s cubic-bezier(0,1,0,1);
}

.lockscreen:not(.hidden)+div,.lockscreen:not(.hidden)+div+div,.lockscreen:not(.hidden)+div+div+div {
	-webkit-filter:blur(20px) brightness(80%);
}

html.reduceRedundantEffects .lockscreen:not(.hidden)+div,html.reduceRedundantEffects .lockscreen:not(.hidden)+div+div,html.reduceRedundantEffects .lockscreen:not(.hidden)+div+div+div {
	-webkit-filter:brightness(80%)
}

html.reduceRedundantEffects .lockscreen:not(.hidden)+div,html.reduceRedundantEffects .lockscreen:not(.hidden)+div+div {
	-webkit-filter:blur(20px)
}

.watermark {
	font-weight:400;
	font-size:14px;
	position:absolute;
	bottom:100px;
	right:20px;
	text-align:right;
	line-height:22px;
	opacity:0.5
}

html,body,.dwm {
	width:100%;
	height:100%
}