.drawerbackground {
	background:#263238;
	height:100%;
	border-radius:6px 6px 0;
	margin-left: 50px;
	margin-right: 50px;
	box-shadow: 0 5px 10px rgba(0,0,0,0.5);
	overflow:visible;
	margin-top:500px;
	transition:margin 0.5s cubic-bezier(0,1,0,1)
}

.modulecontaineropen>.drawerbackground {
	margin-top:0
}

html.reduceRedundantEffects .drawerbackground {
	border-radius:0
}

.module.opentasks {
	opacity:1!important;
	height: 65px;
	pointer-events:none!important;
	position:absolute;
	bottom: 0px;
	width: 100%;
	position:absolute;
	overflow: 0;

}

.module.modulelockbottom {
	background:#384248;
	border-radius:6px 6px 0;
	box-shadow: 0 5px 10px rgba(0,0,0,0.5);
	transition:margin 0.5s cubic-bezier(0,1,0,1)
}

.modulecontainer:not(.modulecontaineropen) .module.modulelockbottom {
	margin-bottom:500px;
	transition:margin 0.5s cubic-bezier(0,1,0,1);
	background:rgba(30,50,60,0.5)
}

.module.opentasks>* {
	pointer-events:all!important
}

.module.opentasks::-webkit-scrollbar {
	display:none!important
}

.module.opentasks>div {
	pointer-events:all!important
}

.drawertoggle {
	background-image:url("../../../../Resources/com.dangeredwolf.webshell.resources.shell/startbutton.png")!important;
	background-repeat:no-repeat!important;
	width:65px!important;
	height:65px!important;
	margin-left:0!important;
	bottom: 425px!important;
	position:absolute;
	background-size:48px 48px!important;
	background-position:10px 10px!important;
	outline:0!important;
	background-color:transparent;
	z-index:11;
	padding-top:73px!important;
	border:0;
	transition:-webkit-filter 1000ms cubic-bezier(0,1,0,1),bottom 300ms cubic-bezier(0,1,0,1)!important;
}

.drawertoggle:hover,.drawertoggle:focus {
	-webkit-filter:brightness(120%);
	background:transparent;
	border:0
}

.drawertoggle:active {
	transform:none!important;
	-webkit-filter:opacity(50%);
	border:0
}

.modulecontainer {
	color:#fff;
	position:relative;
	padding:0;
	bottom: 500px;
	z-index:13;
	transition:bottom 300ms cubic-bezier(0,1,0,1),-webkit-filter 0.8s cubic-bezier(0,1,0,1);
	margin-left:auto;
	margin-right:auto;
	min-width:50px;
	max-width:90%;
	max-height:500px;
	height:100%
}

.appIsInFillscreen .modulecontainer:not(.modulecontaineropen) {
	bottom: 445px;
	transition-delay:100ms;
	z-index:99;
	pointer-events:all
}

.appIsInFillscreen .modulecontainer:not(.modulecontaineropen):hover {
	bottom:500px
}

.dwm.hidden+.modulecontainer {
	display:none
}

.drawertoggle {
	padding-left:0!important;
	bottom:-15px!important
}

.tasks {
	margin-left:70px;
	margin-top:5px
}
