.moduletitle {
	top:90px;
	font-size:18px;
	font-weight:500;
}

.moduletitle:after {
	font-family:"Material Icons";
	content:"\e315";
	top:16px;
	position:absolute;
	font-size:32px
}

.powerbutton,.lockbutton {
	background-color:transparent!important;
	height:35px!important;
	width:35px!important;
	position:absolute;
	font-size:0!important;
	padding:0!important;
	margin-top:-20px!important;
}

.powerbutton:hover,.lockbutton:hover {
	height:35px!important;
	max-height:35px!important;
	border:none!important;
	padding:0
}

.lockbutton {
	right:20px
}

.powerbutton {
	right:70px;
}

.lockbutton:before {
	content:"\e897";
	padding-right:10px;
	font-size:32px
}

.powerbutton:before {
	content:"\e8ac";
	padding-right:10px;
	font-size:32px
}

.powerbutton,.lockbutton {
	transition-delay:0ms!important
}

.module:not(.opentasks) {
	background:#fff;
	position:absolute;
	width:330px;
	height: 415px;
	color:#000;
	padding:20px;
	padding-left:22px;
	margin:10px;
	border-radius:3px;
	box-shadow:0 3px 9px rgba(0,0,0,0.1)
}

.module.allapps>button {
	width:100px;
	height:100px;
	color:#000;
	background: transparent;
	border:none;
	margin:3px;
	text-align:left;
	font-weight:400;
	display:inline-block!important;
	font-family:"Material Icons";
	font-size: 64px;
	transition:margin-top cubic-bezier(0,1,0,1) 300ms;
	transition-delay:50ms;
	margin-top: 130px;
	outline:0!important;
	opacity:1;
}

.module.allapps>button:active {
	transform:scale(0.9)
}
