html {
    zoom:1.2!important;
}

.appbar-guide-menu-layout {
    visibility:visible!important;
    left:-230px!important;
    transition:left 250ms cubic-bezier(0,1,.46,1)!important;
    opacity:1!important;
    top:-50px!important
}

.show-guide .appbar-guide-menu-layout {
    left:0px!important
}

.guide-item {
    padding:10px!important
}

.guide-notification-item {
    padding-bottom:10px!important;
}

#content,#masthead-positioner {
    transition:-webkit-filter 250ms cubic-bezier(0,1,.46,1)!important
}

html:not(.guide-pinned) .show-guide #content,html:not(.guide-pinned) .show-guide #masthead-positioner {
    -webkit-filter:brightness(60%)!important
}

.guide-pinned #masthead-positioner {
    left:190px!important;
}

#guide-container {
    padding:0!important
}

#ad_creative_1 {
    display:none!important
}

.spf-link.g-hovercard {
    padding-left:10px!important;
    padding-top:8px!important
}

#yt-masthead-container {
   padding-left:12px!important;
   background:#E53935!important
}

.yt-uix-button-icon {
    -webkit-filter:brightness(10)!important
}

#upload-btn {
    background:transparent!important;
    padding-top:2px!important;
    border:none!important;
    border-radius:none!important;
    color:#fff!important;
    text-transform:uppercase!important;
}

.search-button,#yt-masthead-user #sb-button-notify,.yt-masthead-user-icon {
    display:none!important
}

#yt-masthead-user {
    margin-left:5px!important
}

.yt-base-gutter, .yt-unlimited #footer-container.yt-base-gutter {
    padding:0!important;
    padding-right:70px!important
}

#yt-masthead .yt-masthead-logo-container {
    width:100px!important
}

#appbar-guide-button {
    margin-left:0!important
}

.video-time {
    background:none!important;
    opacity:1!important;
    text-shadow:0 2px 5px rgba(0,0,0,1)!important
}

#masthead-search-terms,#masthead-search-term,#masthead-search {
    background:transparent!important;
    border:0!important;
    outline:0!important;
    box-shadow:none!important
}

#masthead-search-terms {
    border-bottom:2px solid #fff!important;
    padding-left:5px!important;
    color:#fff!important
}

#yt-masthead #logo-container .logo {
    background:url(https://www.youtube.com/yt/brand/media/image/YouTube_light_color_icon.png)!important;
    background-size:34px 24px!important;
    width:34px!important;
    height:24px!important;
    margin-bottom:1px!important
}

.appbar-hidden #masthead-positioner-height-offset {
    height:24px!important
}

#yt-masthead-container {
    border-bottom:0!important
}

.yt-card.yt-card-has-padding {
    padding-bottom:0px!important
}

#watch-description-text {
    transition:max-height 0.3s cubic-bezier(1,.46,0,1)!important;
    max-height:1000px!important
}

yt-uix-expander-collapsed #watch-description-text {
    transition:max-height 0.6s cubic-bezier(0,1,.46,1)!important;
}

#watch7-main #watch7-content {
    width:100%!important;
}

.player-width {
    width:100%!important;
}

#watch7-sidebar-ads {
    display:none!important
}

.yt-uix-button-primary, .yt-uix-button-primary[disabled], .yt-uix-button-primary[disabled]:hover, .yt-uix-button-primary[disabled]:active, .yt-uix-button-primary[disabled]:focus {
    border-color:transparent!important;
    background:transparent!important;
    text-transform:uppercase!important;
}

.guide-header p {
    padding:10px!important;
}

li.guide-section h3 {
    padding-left:10px!important;
}

#masthead-search-term:focus {
    border-bottom:0!important;
    border-radius:3px!important;
    background:#fff!important;
    box-shadow:0 2px 4px rgba(0,0,0,0.5)!important;
}