.dwm {
	pointer-events:none
}

.dwm>div {
	pointer-events:all
}

.wallpaper {
	min-height:100%;
	height:100%;
	padding:0;
	z-index:-2;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-image:url("../../../../Resources/com.dangeredwolf.webshell.resources.wallpapers/wallpaper4.jpg");
	background-size:cover;
	background-repeat:no-repeat;
	background-position:50% 50%
}

.watermark {
	font-weight:400;
	font-size:14px;
	position:absolute;
	bottom:100px;
	right:20px;
	text-align:right;
	line-height:22px;
	opacity:0.5
}

html,body,.dwm {
	width:100%;
	height:100%
}