.drawerbackground {
	background:#263238;
	height:100%;
	border-radius:6px 6px 0;
	margin-left: 50px;
	margin-right: 50px;
	box-shadow: 0 5px 10px rgba(0,0,0,0.5);
	overflow:visible;
	margin-top:500px;
	transition:margin 0.5s cubic-bezier(0,1,0,1)
}

.modulecontaineropen>.drawerbackground {
	margin-top:0
}

html.reduceRedundantEffects .drawerbackground {
	background:rgb(30,50,60);
	border-radius:0
}

.module.opentasks {
	opacity:1!important;
	height: 65px;
	pointer-events:none!important;
	position:absolute;
	bottom: 0px;
	width: 100%;
	overflow-x:scroll;
	position:absolute
}

.module.modulelockbottom {
	background:#384248;
	border-radius:6px 6px 0;
	box-shadow: 0 5px 10px rgba(0,0,0,0.5);
	transition:margin 0.5s cubic-bezier(0,1,0,1)
}

.modulecontainer:not(.modulecontaineropen) .module.modulelockbottom {
	margin-bottom:500px;
	transition:margin 0.5s cubic-bezier(0,1,0,1)
}

.module.opentasks>* {
	pointer-events:all!important
}

.module.opentasks::-webkit-scrollbar {
	display:none!important
}

.module.opentasks>div {
	pointer-events:all!important
}

.drawertoggle {
	background-image:url("../../../../Resources/com.dangeredwolf.webshell.resources.shell/startbutton.png")!important;
	background-repeat:no-repeat!important;
	width:65px!important;
	height:65px!important;
	margin-left: 3px!important;
	bottom: 420px!important;
	position:absolute;
	background-size:48px 48px!important;
	background-position:10px 10px!important;
	outline:0!important;
	background-color:transparent;
	z-index:11;
	padding-top:71px!important;
	transition:-webkit-filter 1000ms cubic-bezier(0,1,0,1),bottom 300ms cubic-bezier(0,1,0,1)!important;
}

.drawertoggle:hover {
	-webkit-filter:brightness(120%)
}

.drawertoggle:active {
	transform:none!important;
	-webkit-filter:opacity(50%);
}

.modulecontainer {
	color:#fff;
	position:relative;
	padding:0;
	bottom: 500px;
	z-index:13;
	transition:bottom 300ms cubic-bezier(0,1,0,1),-webkit-filter 0.8s cubic-bezier(0,1,0,1);
	margin-left:auto;
	margin-right:auto;
	min-width:50px;
	max-width:90%;
	max-height:500px;
	height:100%
}

.appIsInFillscreen .modulecontainer:not(.modulecontaineropen) {
	bottom: 10px;
	transition-delay:100ms
}

.appIsInFillscreen .modulecontainer:not(.modulecontaineropen):hover {
	bottom:65px
}

.dwm.hidden+.modulecontainer {
	display:none
}

.modulecontainer button {
	width:100px;
	height:100px;
	color:#fff;
	background: transparent;
	border:none;
	margin:3px;
	text-align:left;
	font-weight:400;
	display:inline-block!important;
	font-family:"Material Icons";
	font-size: 64px;
	transition:margin-top cubic-bezier(0,1,0,1) 300ms;
	transition-delay:50ms;
	margin-top: 130px;
	outline:0!important;
	opacity:1;
}

.modulecontainer button:active {
	transform:scale(0.9)
}

.drawertoggle {
	padding-left:0!important;
	bottom:-15px!important
}
