html {
	background:#fff;
	color:#000;
	font-size:1.32em
}

#coreos {
	color:#fff;
	background:#000
}

.bootlogo img,.bootlogo {
	z-index:99
}

.bootlogo {
	width:100%;
	height:100%;
	background:#000
}

.bootlogo img {
	position:absolute;
	left:50%;
	margin-left:-100px;
	margin-top:-100px;
	top:50%;
	width:200px;
	height:200px
}

html,body,input,button {
	font-family:"Roboto",Roboto,"Segoe UI",SegoeUI,"Segoe WP",SegoeWP,Segoe,Roboto,"San Francisco","Helvetica Neue",Helvetica,Arial,sans-serif
}

body {
	padding:0;
	overflow:hidden;
	margin:0
}

webview {
	border:none;
	background:transparent
}

.window webview {
	min-width:225px;
	min-height:75px;
	transition:-webkit-filter 0.8s,filter 0.8s,-moz-filter 0.8s;
	bottom:-5px;
	position:relative;
	top:0
}

html,body,.dwm {
	width:100%;
	height:100%
}

.dwm {
	pointer-events:none
}

.dwm>div {
	pointer-events:all
}

.window {
	color:#333;
	width:auto;
	position:absolute!important;
	box-shadow:0 8px 16px rgba(0,0,0,0.35);
	animation:openwindow 400ms cubic-bezier(0,1,0,1.02);
	min-width:225px;
	min-height:100px;
	transition:all 300ms cubic-bezier(0,1,0,1)
}

.window.ui-draggable-dragging {
	transition:none
}

.window.windowunfocussed {
	-webkit-filter:grayscale(50%);
	opacity:0.95
}

.window.fillscreen {
	top:0!important;
	left:0!important
}

.window.fillscreen>webview,.window.fillscreen {
	width:100%!important;
	height:100%!important
}

.window:not(.windowunfocussed) {
	z-index:10
}

@keyframes closewindow {
	0% {
		transform:scale(1);
		opacity:1
	}

	100% {
		transform:matrix3d(1, 0, 0, 0, 0, 1, -1, 0.0001, 0, 0, 0, 1, 0, 0, 1, 1.5);
		opacity:0
	}
}

.windowclosed {
	animation:closewindow 450ms cubic-bezier(0,0.5,0,0.5);
	animation-delay:0ms;
	animation-fill-mode:forwards;
	pointer-events:none
}

button {
	background:#eee;
	border:#e0e0e0 solid 2px;
	padding:6px;
	padding-left:10px;
	padding-right:10px;
	margin:3px;
	font-size:1em;
	transition:background 300ms,border 300ms
}

button:hover {
	background:#cef;
	border:#acd solid 2px
}

button:active {
	background:#aaa;
	border:#999 solid 2px
}

button:focus {
	border:#999 solid 2px
}

@keyframes openwindow {
	0% {
		transform:matrix3d(0.3, 0.01, 0, 0.001, 0, 1, 0, 0, 0, 0, 1, 0, -550, -150, 0, 1);
		transform-origin:0 0;
		opacity:0;
	}

	100% {
		transform:scale(1);
		transform-origin:0 0;
		opacity:1;
	}
}

@keyframes fadein {
	0% {
		opacity:0
	}

	100% {
		opacity:1
	}
}

@keyframes fadeout {
	0% {
		opacity:1
	}

	100% {
		opacity:0
	}
}

.windowcontrols {
	margin-left:auto;
	position:absolute;
	width:100%;
	z-index:9;
	display:block;
	margin-top:10px
}

.windowcontrol {
	background:none;
	border:none;
	position:absolute;
	right:7px;
	width:42px;
	outline:none;
	height:38px;
	font-size:17px;
	line-height:0;
	top:-13px;
	opacity:0.8;
	font-family:"Material Icons";
	font-weight:600
}

.windowcontrol:hover {
	background:rgba(0,0,0,0.3);
	transition:background 300ms,opacity 300ms;
	opacity:1;
	border:0
}

.windowcontrol:focus,.windowcontrol.close:focus {
	outline:0;
	border:0
}

.windowcontrol.close {
	right:-3px
}

.windowcontrol.close:hover {
	background:#e44;
	color:#fff
}

.windowcontrol.close:active {
	background:#e55
}

.windowbody {
	background-color:#fff;
	padding:0;
	pointer-events:fill
}

.wallpaper {
	min-height:100%;
	height:100%;
	padding:0;
	z-index:-1;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-image:url("../../../../Resources/com.dangeredwolf.webshell.resources.wallpapers/wallpaper3.jpg");
	background-size:cover;
	background-repeat:no-repeat;
	background-position:50% 50%
}

.hidden {
	display:none
}

.fadeout,.fadeout>div {
	transition:opacity 350ms;
	opacity:0
}

.fadein {
	transition:opacity 350ms;
	opacity:1
}

.fadeinanim {
	animation:fadein 0.3s
}

.fadeoutanim {
	animation:fadeout 0.3s;
	opacity:0
}

.lockscreen.hidden {
	display:block;
	margin-left:-100%;
	margin-right:100%;
	transition:margin 500ms cubic-bezier(0,1,0,1)
}

.lockscreen {
	z-index:14;
	visibility:visible;
	opacity:0;
	transition:margin 500ms cubic-bezier(0,1,0,1);
	background-image:url("../../../../Resources/com.dangeredwolf.webshell.resources.wallpapers/wallpaper1.jpg");
	margin-right:0;
	margin-left:0;
	animation:fadein 350ms;
	animation-fill-mode:forwards;
	animation-delay:500ms
}

.lockscreentime {
	font-weight:500;
	font-size:18px;
	text-align:right;
	top:10px;
	display:block;
	position:absolute;
	width:100%;
	right:12px
}

.lockscreendate {
	position:absolute;
	text-align:left;
	left:24px;
	top:0;
	

}

@keyframes loganim {
	0% {
		margin-top:15%;
		opacity:0;
	}

	100% {
		margin-top:20%;
		opacity:1;
	}
}

.authentication {
	bottom:50%;
	left:50%;
	width:350px;
	position:absolute;
	background:#fcfcfc;
	color:#000;
	height:400px;
	margin-left:-175px;
	box-shadow:0 5px 10px rgba(0,0,0,1);
	border-radius:3px;
	margin-bottom:-250px
}

.authentication>img {
	position:absolute;
	display:block;
	margin-top:50px;
	border-radius:100px;
	left:50%;
	margin-left:-65px;
	width:130px;
	height:130px;
	box-shadow:0 2px 5px rgba(0,0,0,0.5)
}

.authentication>div {
	font-size:22px;
	margin-top:220px;
	text-align:center
}

input,select {
	padding:12px;
	padding-left:12px;
	font-size:1em;
	border-radius:3px;
	margin:8px;
	font-family:Roboto;
	box-shadow:0 2px 5px rgba(0,0,0,0.7);
	border:none;
	cursor:pointer
}

input:focus {
	outline:none!important
}

.authentication input {
	margin:auto;
	position:absolute;
	bottom:60px;
	left:50%;
	width:200px;
	margin-left:-110px
}

.displaynone {
	display:none
}

input.displaynone.hidden {
	margin:-10000px!important;
	position:absolute
}

a {
	color:#27d;
	text-decoration:none
}

a:hover {
	color:#5af;
	cursor:pointer;
	text-decoration:underline
}

button.startbutton,button.startbutton:hover,button.startbutton:focus,button.startbutton:active {
	background:url("../../../../Resources/com.dangeredwolf.webshell.resources.shell/startbutton.png") no-repeat!important;
	width:65px!important;
	height:65px!important;
	margin-left:-4px!important;
	bottom:-30px!important;
	position:absolute;
	background-size:48px 48px!important;
	background-position:10px 10px!important;
	outline:none;
	background-color:transparent;
	z-index:11;
	padding-top:71px!important
}

.startmenubody button.startbutton:hover,.startmenubody button.startbutton,.startmenubody button.startbutton:focus,.startbutton:active {
	border:none
}

.startbutton:after {
	content:"";
	width:48px;
	height:48px;
	position:absolute;
	left:10px;
	bottom:20px;
	border:none;
	color:transparent;
	background-color:transparent!important;
	background:url("../../../../Resources/com.dangeredwolf.webshell.resources.shell/startbuttonhover.png") no-repeat;
	background-size:48px 48px;
	z-index:12;
	opacity:0;
	transition:opacity 0.3s
}

.startbutton:hover:after {
	opacity:1
}

.startmenubody {
	color:#fff;
	position:relative;
	padding:0;
	bottom:65px;
	z-index:13;
	transition:bottom 300ms cubic-bezier(0,1,0,1);
	margin-left:auto;
	margin-right:auto;
	min-width:50px;
	max-width:90%;
	max-height:500px;
	height:100%
}

.startmenubody.startmenubodyopen {
	bottom:500px
}

.startmenubody button {
	width:100px;
	height:100px;
	color:#fff;
	background:#19BDA7;
	border:none;
	margin:3px;
	text-align:left;
	font-weight:400;
	display:inline-block!important;
	font-family:"Material Icons";
	font-size:48px;
	padding-left:26px;
	padding-top:8px;
	transition:margin-top cubic-bezier(0,1,0,1) 300ms;
	transition-delay:50ms;
	margin-top: 130px;
	opacity:1
}
.startmenubody button:active {
	transform:scale(0.9)
}

.startmenubody button:hover {
	border:2px solid #fff;
	padding-left:24px
}

.startbutton {
	padding-left:0!important
}

.shelltransfix {
	opacity:0.01;
	pointer-events:none
}

.windowcontrol.max {
	right:38px
}

.windowcontrol.min {
	right:79px
}

.unresponsive {
	-webkit-filter:blur(2px) brightness(0.9) grayscale(1);
	-moz-filter:blur(2px) brightness(0.9) grayscale(1);
	filter:blur(2px) brightness(0.9) grayscale(1)
}

.window.immersive .windowbody,.window.immersive webview {
	background:transparent;
	margin-top:0
}

.window.immersive .windowtitle {
	display:none
}

.windowdraghandle {
	position:absolute;
	display:block;
	box-sizing:content-box;
	top:0;
	left:0;
	right:100px;
	height:36px;
	z-index:10
}

.watermark {
	font-weight:400;
	font-size:14px;
	position:absolute;
	bottom:50px;
	right:20px;
	text-align:right;
	line-height:22px
}

.taskbartime {
	position:absolute;
	bottom:14px;
	right:16px;
	text-align:right
}

.startmenubackground {
	background:linear-gradient(rgba(30,50,60,0.8),rgba(30,50,60,0.95),rgb(30,50,60));
	padding-left:8px;
	height:100%;
	border-radius:6px 6px 0 
}

.startmenubody>.startmenubackground>div {
	transition:opacity 550ms cubic-bezier(0,1,0,1);
	transition-delay:100ms
}

.powerbutton,.lockbutton {
	transition-delay:0ms!important
}

.startmenubody:not(.startmenubodyopen) button:not(.powerbutton):not(.lockbutton) {
	transition:opacity 350ms cubic-bezier(0,1,0,1);
	transition-delay:0ms
}

.startmenubody:not(.startmenubodyopen)>.startmenubackground>div {
	opacity:0;
	pointer-events:none
}

.coretaskbar {
	opacity:1!important;
	height:50px;
	pointer-events:all!important;
	position:absolute;
	top:0
}

.coretaskbar>div {
	pointer-events:all!important
}

.startmenubodyopen .taskbartime {
	font-size:24px
}

.hidden .authentication {
	pointer-events:none
}

.powerbutton,.lockbutton {
	background-color:transparent!important;
	height:35px!important;
	width:35px!important;
	position:absolute;
	font-size:0!important;
	padding:0!important;
	margin-top:450px!important
}

.powerbutton:hover,.lockbutton:hover {
	height:35px!important;
	max-height:35px!important;
	border:none!important;
	padding:0
}

.lockbutton {
	left:120px;
	opacity:0	
}

.powerbutton {
	left:70px
}

.lockbutton:before {
	content:"\e897";
	padding-right:10px;
	font-size:32px
}

.powerbutton:before {
	content:"\e8ac";
	padding-right:10px;
	font-size:32px
}

.bootlogo>img,.bootlogo {
	z-index:99
}

.bootlogo {
	position:absolute;
	left:50%;
	margin-left:-100px;
	margin-top:-100px;
	top:50%;
	width:200px;
	height:200px;
	background:#000
}

.bootlogo img {
	width:200px;
	height:200px
}

@keyframes bootloaderanim {
	0% {
		margin-left:0%;
		width:10%;
	}

	25% {
		margin-left:10%;
		width:80%;
	}

	50% {
		margin-left:90%;
		width:10%;
	}

	75% {
		margin-left:10%;
		width:80%;
	}

	100% {
		margin-left:0%;
		width:10%;
	}
}


.bootloader {
	background:#00bbdd;
	height:5px;
	border-radius:5px;
	width:100%;
	margin-top:350px;
	animation:bootloaderanim 1s infinite cubic-bezier(0,1,.46,1)
}

@keyframes fadeinsetup {
	0% {
		opacity:0;
		margin-left:100px;
	}

	100% {
		opacity:1;
		margin-left:0;
	}
}

#setupview>body {
	animation:fadein 0.3s
}

#setupview {
	animation:fadeinsetup 0.3s cubic-bezier(0,1,.46,1)
}

.dropdown-content li>a,.dropdown-content li>span {
	font-size:1rem!important;
	color:#000!important
}

.ui-resizable {
	position:relative
}

.ui-resizable-handle {
	position:absolute;
	font-size:0.1px;
	display:block;
	-ms-touch-action:none;
	touch-action:none
}

.ui-resizable-disabled .ui-resizable-handle,.ui-resizable-autohide .ui-resizable-handle {
	display:none
}

.ui-resizable-n {
	cursor:n-resize;
	height:7px;
	width:100%;
	top:-5px;
	left:0
}

.ui-resizable-s {
	cursor:s-resize;
	height:7px;
	width:100%;
	bottom:-5px;
	left:0
}

.ui-resizable-e {
	cursor:e-resize;
	width:7px;
	right:-5px;
	top:0;
	height:100%
}

.ui-resizable-w {
	cursor:w-resize;
	width:7px;
	left:-5px;
	top:0;
	height:100%
}

.ui-resizable-se {
	cursor:se-resize;
	width:12px;
	height:12px;
	right:1px;
	bottom:1px
}

.ui-resizable-sw {
	cursor:sw-resize;
	width:9px;
	height:9px;
	left:-5px;
	bottom:-5px
}

.ui-resizable-nw {
	cursor:nw-resize;
	width:9px;
	height:9px;
	left:-5px;
	top:-5px
}

.ui-resizable-ne {
	cursor:ne-resize;
	width:9px;
	height:9px;
	right:-5px;
	top:-5px
}

/* Material Icon Set is property of Alphabet, Inc. and Google, Inc., used under License */

@font-face {
	font-family:'Material Icons';
	font-style:normal;
	font-weight:400;
	src:local('Material Icons'),local('MaterialIcons-Regular'),url(materialicons.woff2) format('woff2')
}

@font-face {
	font-family:'Roboto';
	font-style:normal;
	font-weight:100;
	src:local('Roboto Thin'),local('Roboto-Thin'),url('Roboto-Thin.ttf')
}

@font-face {
	font-family:'Roboto';
	font-style:normal;
	font-weight:300;
	src:local('Roboto Light'),local('Roboto-Light'),url('Roboto-Light.ttf')
}

@font-face {
	font-family:'Roboto';
	font-style:normal;
	font-weight:400;
	src:local('Roboto'),local('Roboto-Regular'),url('Roboto-Regular.ttf')
}

@font-face {
	font-family:'Roboto';
	font-style:normal;
	font-weight:500;
	src:local('Roboto Medium'),local('Roboto-Medium'),url('Roboto-Medium.ttf')
}

@font-face {
	font-family:'Roboto';
	font-style:normal;
	font-weight:700;
	src:local('Roboto Bold'),local('Roboto-Bold'),url('Roboto-Bold.ttf')
}

@font-face {
	font-family:'Roboto';
	font-style:normal;
	font-weight:900;
	src:local('Roboto Black'),local('Roboto-Black'),url('Roboto-Black.ttf')
}

@font-face {
	font-family:'Roboto';
	font-style:italic;
	font-weight:100;
	src:local('Roboto Thin Italic'),local('Roboto-ThinItalic'),url('Roboto-ThinItalic.ttf')
}

@font-face {
	font-family:'Roboto';
	font-style:italic;
	font-weight:300;
	src:local('Roboto Light Italic'),local('Roboto-LightItalic'),url('Roboto-LightItalic.ttf')
}

@font-face {
	font-family:'Roboto';
	font-style:italic;
	font-weight:400;
	src:local('Roboto Italic'),local('Roboto-Italic'),url('Roboto-Italic.ttf')
}

@font-face {
	font-family:'Roboto';
	font-style:italic;
	font-weight:500;
	src:local('Roboto Medium Italic'),local('Roboto-MediumItalic'),url('Roboto-MediumItalic.ttf')
}

@font-face {
	font-family:'Roboto';
	font-style:italic;
	font-weight:700;
	src:local('Roboto Bold Italic'),local('Roboto-BoldItalic'),url('Roboto-BoldItalic.ttf')
}

@font-face {
	font-family:'Roboto';
	font-style:italic;
	font-weight:900;
	src:local('Roboto Black Italic'),local('Roboto-BlackItalic'),url('Roboto-BlackItalic.ttf')
}

.tasks {
	position:absolute;
	left:70px;
	height:100%;
	bottom:-7px
}

.task {
	font-family:"Material Icons";
	font-size:48px;
	height:70px;
	padding:15px;
	padding-top:25px;
	padding-bottom:7px;
	text-align:center;
	position:relative;
	display:inline;
	width:70px;
	margin-left:5px;
	animation:fadein 0.3s cubic-bezier(0,1,0,1);
	transition:opacity 0.3s cubic-bezier(0,1,0,1),border-bottom 0.3s cubic-bezier(0,1,0,1);
	border-bottom:0 solid #fff
}

.task.taskopen {
	border-bottom:3px solid #fff
}

.startmoduletitle {
	top:90px;
	font-size:18px;
	position:absolute
}

.startmoduletitle:after {
	font-family:"Material Icons";
	content:"\e315";
	font-size:32px;
	top:-5px;
	position:absolute;
}