@keyframes closingtask {
	from {
		opacity:1
	}
	to {
		width:0;
		padding:0;
		margin:0;
		font-size:0;
		opacity:0
	}
}

.tasks {
	position:absolute;
	left:70px;
	height: 100px;
	top:7px;
	overflow-x:scroll;
	overflow-y:visible;
	transition:left 500ms cubic-bezier(0,1,0,1)
}

.startmenubody.startmenubodyopen .tasks {
	left:0
}

.tasks::-webkit-scrollbar {
	display:none
}

.task {
	font-family:"Material Icons";
	font-size:48px;
	height:70px;
	padding:15px;
	padding-top:25px;
	padding-bottom:7px;
	text-align:center;
	position:relative;
	display:inline;
	width:70px;
	margin-left:5px;
	animation:fadein 0.3s cubic-bezier(0,1,0,1);
	transition:opacity 0.3s cubic-bezier(0,1,0,1),border-bottom 0.3s cubic-bezier(0,1,0,1);
	border-bottom:0 solid #fff
}

.task.taskopen {
	border-bottom:3px solid #fff
}

.task.taskclosing {
	animation:closingtask 0.3s;
	animation-fill-mode:forwards;
}

